body {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.level h2 {
    color: salmon;
}

header,
footer {
    background-color: salmon;
    color: white;
    text-align: center;
    margin: 0, 0, 0, 0;
    padding: 20px;
}

#standardsList,
#collapseStandards {
    display: none;
}

.standards {
    margin: 20px 20px 0 15%;
    line-height: 1.5;
    max-width: 600px;
    /*font-size: smaller;*/
}


#mapWrapper {
    overflow: hidden;
    /*max-width: 1000px;
    min-height: 300px;
    max-height: 400px;*/
    grid-column: 1 / 13;
    grid-row: 1 / 7;    
}

#mapPic {
    /*max-width: 1000px;
    min-width: 900px;
    min-height: 300px;
    max-height: 400px;
    margin-left: 50%; 
    transform: translateX(-50%);*/
}

.location {
    width: 20px;
    height: 20px;
    border-radius: 15px;
    background-color: black;
    padding: 5px;
}

#loc0University {
    grid-column: 4 / span 1;
    grid-row: 3 / span 1;
    background-color: indianred;
}

#loc1SpawningArea {
    grid-column: 9 / span 1;
    grid-row: 4 / span 1;
    background-color: indianred;
}

#loc2Library {
    grid-column: 7 / span 1;
    grid-row: 1 / span 1;
    background-color: indianred;
}

#loc3RichardHatton {
    grid-column: 11 / span 1;
    grid-row: 5 / span 1;
    background-color: indianred;
}

#loc4CalienteCorp {
    grid-column: 5 / span 1;
    grid-row: 2 / span 1;
    background-color: indianred;
}

#loc5EPA {
    grid-column: 3 / span 1;
    grid-row: 5 / span 1;
    background-color: indianred;
}

#loc6LorraineHadwick {
    grid-column: 12 / span 1;
    grid-row: 6 / span 1;
    background-color: indianred;
}

#loc7DanLewis {
    grid-column: 8 / span 1;
    grid-row: 2 / span 1;
    background-color: indianred;
}

#loc8BeaTartan {
    grid-column: 2 / span 1;
    grid-row: 1 / span 1;
    background-color: indianred;
}

#navWrapper {
    border: 2px solid black;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(6, 1fr);
    max-width: 1000px;
    min-width: 500px;
    overflow: visible;
    justify-items: center;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}

.subtitle {
    font-style: italic;
}

img {
    max-width: 100%;
    height: auto;
}

.directions {
    margin: 20px 20px 0 15%;
    line-height: 1.5;
    max-width: 600px;
}

.tip {
    font-size: smaller;
    line-height: 1.2;
    font-style: italic;
}

.question, 
.level {
    margin: 20px 20px 0 15%;
    line-height: 1.75;
    max-width: 600px;
}

.clue {
    display: none;
    margin: 20px 20px 0 15%;
    line-height: 1.5;
    max-width: 600px;
}

.clue h3 {
    color:gold;
}

.transparent.button {
    position: absolute;
    z-index: 10;
    color: springgreen;
}

.imageWrapper {
    box-sizing: border-box;
    width: max-content;
    position: relative;
}

#ratButton {
    left: 100px;
    top: 80px;
    width: 60px;
    height: 60px;
}

#xButton {
    left: 130px;
    top: 180px;
    width: 140px;
    height: 80px;
}

#q6Image, 
#q8Image
 {
    width: 400px;
    height: 400px;
}

.marker {
    background: red;
    width: 4px;
    height: 4px;
    position: absolute;
    border-radius: 2px;
    z-index: 10;
    opacity: 0.3;
}

.highlighter {
    background: yellow;
    width: 30px;
    height: 30px;
    position: absolute;
    border-radius: 15px;
    z-index: 10;
    opacity: 0.7;
}

#showSolutionButton {
    background-color: gold;
    color:black;
    display: none;
}
